
node_modules
vendor
.env
*.log
*.sqlite
storage/*.key

/node_modules
/vendor
/.git
/.env
/tests
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
